span,a{
  color: rgb(43, 134, 209);
  font-weight: 500;
  cursor: pointer;
}

#collegamenti{
  text-decoration: none;
  display: block;
}

#banner{
  height: 15em;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

#image {
  position: absolute;
  top: 25%;
  left: 2%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#image label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#image .circle {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}


#image:hover .circle {
  background-color: grey;
}

#image input[type="file"] {
  display: none;
}

#main{
  position: relative;
}

#cover {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#cover label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cover .circle {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  border-radius: 50%;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cover:hover .circle {
  background-color: grey;
}

#cover input[type="file"] {
  display: none;
}

#banner{
  position: relative;
}

#section:hover{
  background-color: rgba(198, 223, 245, 0.89);
}

#other:hover{
  background-color: rgb(227, 227, 228);
}

i{
  cursor: pointer;
}
