<footer>
  <div class="conatiner">
    <div class="row">
      <div class="col-lg-2">
        <ul>
          <li><a href="#">Informazioni</a></li>
          <li><a href="#">Linee guida della community</a></li>
          <li><a href="#">Privacy e condizioni</a></li>
          <li><a href="#">Sales Solutions</a></li>
          <li><a href="#">Centro sicurezza</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul>
          <li><a href="#">Accessibilità</a></li>
          <li><a href="#">Carriera</a></li>
          <li><a href="#">Opzioni per gli annunci pubblicitari</a></li>
          <li><a href="#">Mobile</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul>
          <li><a href="#">Talent Solutions</a></li>
          <li><a href="#">Soluzioni di marketing</a></li>
          <li><a href="#">Pubblicità</a></li>
          <li><a href="#">Piccole imprese</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul>
          <li>
            <a href="#">Domande</a>
            <p>Visita il nostro Centro assistenza.</p>
          </li>
          <li>
            <a href="#">Gestisci il tuo account e la tua privacy</a>
            <p>Vai alle impostazioni</p>
          </li>
          <li><a href="#">Transparenza sui contenuti consigliati</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p>Seleziona lingua</p>
        <div class="btn-group">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuClickableOutside"
            data-bs-toggle="dropdown"
            data-bs-auto-close="inside"
            aria-expanded="false"
          >
            Clickable outside
          </button>
          <ul
            class="dropdown-menu"
            aria-labelledby="dropdownMenuClickableOutside"
          >
            <li><a class="dropdown-item" href="#">Dutch</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Italian</a></li>
            <li><a class="dropdown-item" href="#">Spanish</a></li>
            <li><a class="dropdown-item" href="#">French</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<p>footer works!</p>
