<header class="p-3 border-bottom">
  <div class="container mx-auto">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex gap-2">
        <a
          routerLink="/"
          class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none"
        >
          <img id="logo" src="../../assets/img/LI-In-Bug.png" />
        </a>
        <form class="mb-lg-0 me-lg-3 d-none d-lg-block" role="search">
          <input
            class="rounded"
            type="search"
            placeholder="Cerca..."
            aria-label="Search"
          />
        </form>
        <form
          id="mobile-form"
          class="mb-lg-0 me-lg-3 d-lg-none"
          role="search"
          *ngIf="search === true"
        >
          <div id="search-input" class="d-flex align-items-center gap-3">
            <i (click)="searchToggle()" class="bi bi-search"></i>
            <input
              id="mobile-search"
              type="search"
              placeholder="Cerca..."
              aria-label="Search"
            />
          </div>
        </form>
      </div>
      <ul class="nav justify-content-center gap-5">
        <li class="d-lg-none" (click)="searchToggle()" *ngIf="search !== true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          <span class="d-none d-md-block">cerca</span>
        </li>

        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
          routerLink="/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-house-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"
            />
            <path
              d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"
            />
          </svg>
          <span class="d-none d-md-block">home</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-people-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
            /></svg
          ><span class="d-none d-md-block">rete</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-briefcase-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"
            />
            <path
              d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"
            /></svg
          ><span class="d-none d-md-block">lavoro</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mercado-match"
            width="16"
            height="16"
            focusable="false"
          >
            <path
              d="M16 4H8a7 7 0 000 14h4v4l8.16-5.39A6.78 6.78 0 0023 11a7 7 0 00-7-7zm-8 8.25A1.25 1.25 0 119.25 11 1.25 1.25 0 018 12.25zm4 0A1.25 1.25 0 1113.25 11 1.25 1.25 0 0112 12.25zm4 0A1.25 1.25 0 1117.25 11 1.25 1.25 0 0116 12.25z"
            ></path>
          </svg>
          <span class="d-none d-md-block">messaggistica</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bell-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
            /></svg
          ><span class="d-none d-md-block">notifiche</span>
        </li>

        <li
          id="profile"
          class="d-flex flex-column justify-content-between"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          *ngIf="search !== true"
        >
          <div id="profile-pic">
            <img
              (click)="updateMainProfileData()"
              src="{{ profilo.image }}"
              alt="mdo"
              class="img-fluid border rounded-circle w-100"
              routerLink="/profile"
            />
          </div>
          <span class="d-none d-md-block"
            >me <i class="bi bi-caret-down-fill"></i
          ></span>
        </li>
        <li
          id="factory"
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-grid-3x3-gap-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"
            /></svg
          ><span class="d-none d-md-block">per le aziende</span>
        </li>
        <li>
          <p class="text-warning">
            <ins>Fatti assumere più velocemente. Prova Premium gratis.</ins>
          </p>
        </li>
      </ul>
    </div>
  </div>
</header>
