<header class="p-3 border-bottom">
  <div class="container mx-auto">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex gap-2">
        <a
          routerLink="/"
          class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none"
        >
          <img id="logo" src="../../assets/img/LI-In-Bug.png" />
        </a>
        <form class="mb-lg-0 me-lg-3 d-none d-lg-block" role="search">
          <div style="position: relative">
            <input
              id="input"
              class="rounded px-5 bg-primary-subtle border-0"
              type="search"
              placeholder="Cerca..."
              aria-label="Search"
            />
            <span
              style="
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 0.4em;
              "
            >
              <svg
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.445 10.53a6.5 6.5 0 1 0-1.915 1.415l3.913 3.914a1 1 0 0 0 1.415-1.414l-3.914-3.915zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
                />
              </svg>
            </span>
          </div>
        </form>
        <form
          id="mobile-form"
          class="mb-lg-0 me-lg-3 d-lg-none"
          role="search"
          *ngIf="search === true"
        >
          <div id="search-input" class="d-flex align-items-center gap-3">
            <i (click)="searchToggle()" class="bi bi-search"></i>
            <input
              id="mobile-search"
              type="search"
              placeholder="Cerca..."
              aria-label="Search"
            />
          </div>
        </form>
      </div>
      <ul class="nav justify-content-center gap-5">
        <li class="d-lg-none" (click)="searchToggle()" *ngIf="search !== true">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
          <span class="d-none d-md-block">cerca</span>
        </li>

        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
          routerLink="/"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mercado-match"
            width="16"
            height="16"
            focusable="false"
          >
            <path
              d="M23 9v2h-2v7a3 3 0 01-3 3h-4v-6h-4v6H6a3 3 0 01-3-3v-7H1V9l11-7 5 3.18V2h3v5.09z"
            ></path>
          </svg>
          <span class="d-none d-md-block">Home</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mercado-match"
            width="16"
            height="16"
            focusable="false"
          >
            <path
              d="M12 16v6H3v-6a3 3 0 013-3h3a3 3 0 013 3zm5.5-3A3.5 3.5 0 1014 9.5a3.5 3.5 0 003.5 3.5zm1 2h-2a2.5 2.5 0 00-2.5 2.5V22h7v-4.5a2.5 2.5 0 00-2.5-2.5zM7.5 2A4.5 4.5 0 1012 6.5 4.49 4.49 0 007.5 2z"
            ></path></svg
          ><span class="d-none d-md-block">Rete</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mercado-match"
            width="16"
            height="16"
            focusable="false"
          >
            <path
              d="M17 6V5a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H2v4a3 3 0 003 3h14a3 3 0 003-3V6zM9 5a1 1 0 011-1h4a1 1 0 011 1v1H9zm10 9a4 4 0 003-1.38V17a3 3 0 01-3 3H5a3 3 0 01-3-3v-4.38A4 4 0 005 14z"
            ></path></svg
          ><span class="d-none d-md-block">Lavoro</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mercado-match"
            width="16"
            height="16"
            focusable="false"
          >
            <path
              d="M16 4H8a7 7 0 000 14h4v4l8.16-5.39A6.78 6.78 0 0023 11a7 7 0 00-7-7zm-8 8.25A1.25 1.25 0 119.25 11 1.25 1.25 0 018 12.25zm4 0A1.25 1.25 0 1113.25 11 1.25 1.25 0 0112 12.25zm4 0A1.25 1.25 0 1117.25 11 1.25 1.25 0 0116 12.25z"
            ></path>
          </svg>
          <span class="d-none d-md-block">Messaggistica</span>
        </li>
        <li
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mercado-match"
            width="16"
            height="16"
            focusable="false"
          >
            <path
              d="M22 19h-8.28a2 2 0 11-3.44 0H2v-1a4.52 4.52 0 011.17-2.83l1-1.17h15.7l1 1.17A4.42 4.42 0 0122 18zM18.21 7.44A6.27 6.27 0 0012 2a6.27 6.27 0 00-6.21 5.44L5 13h14z"
            ></path></svg
          ><span class="d-none d-md-block">Notifiche</span>
        </li>

        <li
          id="profile"
          class="d-flex flex-column justify-content-between"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          *ngIf="search !== true"
        >
          <div
            id="profile-pic"
            class="dropdown"
            style="background-image: url('{{ profilo.image }}');"
          ></div>
          <span
            class="d-none d-md-block dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >me</span
          >
          <ul class="dropdown-menu dropdown-menu-end">
            <li class="mb-2 p-2 pt-0">
              <div class="d-flex gap-2">
                <div
                  class="circle"
                  style="background-image: url('{{ profilo.image }}');"
                ></div>
                <div>
                  <p class="fw-bold m-0">
                    {{ profilo.name }} {{ profilo.surname }}
                  </p>
                  <p class="m-0">{{ profilo.title }}</p>
                </div>
              </div>
            </li>
            <li class="m-2 h-75">
              <a
                id="profile-btn"
                class="dropdown-item text-primary px-5 fw-bold rounded-pill text-center"
                style="border: 1px solid rgb(24, 101, 245)"
                routerLink="/profile"
                (click)="updateMainProfileData()"
              >
                Visualizza profilo
              </a>
            </li>
            <hr class="m-0" />
            <li class="dropdown-item h-25 py-0">
              <p class="fw-bold my-2">Account</p>
            </li>
            <li class="dropdown-item h-25 py-0">
              <p class="mb-2 d-flex align-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="mercado-match pe-1"
                  style="width: 20px; height: 20px"
                  focusable="false"
                >
                  <path
                    d="M20 20a3.36 3.36 0 001-2.39V6.38A3.38 3.38 0 0017.62 3H6.38A3.36 3.36 0 004 4z"
                    fill="#f8c77e"
                  ></path>
                  <path
                    d="M4 4a3.36 3.36 0 00-1 2.38v11.24A3.38 3.38 0 006.38 21h11.24A3.36 3.36 0 0020 20z"
                    fill="#e7a33e"
                  ></path>
                </svg>
                Prova premium gratis
              </p>
            </li>
            <li class="dropdown-item h-25 py-0">
              <p class="mb-2">Impostazioni e privacy</p>
            </li>
            <li class="dropdown-item h-25 py-0">
              <p class="mb-2">Guida</p>
            </li>
            <li class="dropdown-item h-25 py-0">
              <p class="mb-2">Lingua</p>
            </li>
            <hr class="m-0" />
            <li class="dropdown-item h-25 py-0 fw-bold">
              <p class="my-2">Gestisci</p>
            </li>
            <li class="dropdown-item h-25 py-0">
              <p class="mb-2">Post e attività</p>
            </li>
            <li class="dropdown-item h-25 py-0">
              <p class="mb-2">Account per la pubblicazione di offerte</p>
            </li>
            <hr class="m-0" />
            <li class="dropdown-item h-25 py-0">
              <p class="mt-2 mb-0">Esci</p>
            </li>
          </ul>
        </li>
        <li
          id="factory"
          class="d-flex flex-column align-items-center justify-content-between"
          *ngIf="search !== true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-grid-3x3-gap-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z"
            /></svg
          ><span class="d-none d-md-block">per le aziende</span>
        </li>
        <li id="agency">
          <p class="text-warning">
            <ins>Fatti assumere più velocemente. Prova Premium gratis.</ins>
          </p>
        </li>
      </ul>
    </div>
  </div>
</header>
