<div class=" my-3">
  <main class="me-3 container-fluid container-md">
    <div class="row">
      <div class="col col-12 col-lg-8">
    <app-main-profile></app-main-profile>
    <app-consigliatoperte></app-consigliatoperte>
    <app-esperienze></app-esperienze>
  </div>
  <app-aside class="d-none d-lg-block col-lg-4 col-xl-3"></app-aside>
</div>
  </main>

</div>
<app-footer></app-footer>

<!-- <div class="container">
  <div class="d-flex justify-content-center mx-auto my-3">
    <main class="me-3 col col-12 col-md-6">
      <app-main-profile></app-main-profile>
      <app-consigliatoperte></app-consigliatoperte>
      <app-esperienze></app-esperienze>
    </main>
    <div class="col-lg-3">
      <app-aside></app-aside>
    </div>
  </div>
  <app-footer></app-footer>
</div> -->
