<div class="container border rounded pt-3">
  <div class="d-flex justify-content-between">
  <h5 class="fit-content">Esperienze</h5>
  <div class="fit-content d-flex gap-3">
    <p class="fit-content icon-plus"><i class="bi bi-plus-lg"></i></p>
    <p class="fit-content icon-pencil"><i _ngcontent-ng-c1544257359="" class="bi bi-pencil"></i></p>

  </div>
</div>
<div class="experience d-flex align-items-center gap-2">
  <div class="img-container" style="width: 3.5rem; height:3.5rem; background-color: lightblue">
    <img src="" alt="">
  </div>
  <div class="exp exp-text">
    <p class="exp exp-name">aaaaaaaaaaaaaa</p>
    <p class="exp exp-place">aaaaaaaaaaaaaa</p>
    <p class="exp exp-date">aaaaaaaaaaaaaaaaa</p>
  </div>
</div>
</div>
