<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title">Lingua del profilo</h5>
        <p class="card-text">Italiano</p>
      </div>
      <a href="" class="btn btn-sm">
        <i class="bi bi-pencil"></i>
      </a>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title">Public profile & URL</h5>
        <p class="card-text">lorem</p>
      </div>
      <a href="" target="_blank" class="btn btn-sm">
        <i class="bi bi-pencil"></i>
      </a>
    </div>
  </div>
</div>

<!-- altri profili section -->
<div class="card mb-2">
  <div class="card-header">
    <h2>
      <span>Altri profili consultati</span>
    </h2>
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex align-items-center">
        <img src="#" />
        <div>
          <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
          <p class="mb-0">lorem</p>
        </div>
      </div>
      <span class="badge badge-secondary">1°</span>
    </div>
  </div>
  <hr />
  <!-- card2 -->
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex align-items-center">
        <img src="#" />
        <div>
          <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
          <p class="mb-0">lorem</p>
        </div>
      </div>
      <span class="badge badge-secondary">1°</span>
    </div>
  </div>
  <hr />
  <!-- card3 -->
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex align-items-center">
        <img src="#" />
        <div>
          <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
          <p class="mb-0">lorem</p>
        </div>
      </div>
      <span class="badge badge-secondary">1°</span>
    </div>
  </div>
  <hr />
  <!-- card4 -->
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex align-items-center">
        <img src="#" />
        <div>
          <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
          <p class="mb-0">lorem</p>
        </div>
      </div>
      <span class="badge badge-secondary">1°</span>
    </div>
  </div>
  <hr />
  <!-- card5 -->
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="d-flex align-items-center">
        <img src="#" />
        <div>
          <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
          <p class="mb-0">lorem</p>
        </div>
      </div>
      <span class="badge badge-secondary">1°</span>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-secondary">
        Visualizza altro
        <i class="bi bi-chevron-down ms-2"></i>
      </button>
    </div>
  </div>
</div>
<!-- persone che potresti conoscenere section -->
<div>
  <div class="card mb-2">
    <div class="card-header">
      <h2>
        <span>Persone che potresti conoscere</span>
      </h2>
      <span>dalla tua azienda</span>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <img src="#" />
          <div>
            <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
            <p class="mb-0">lorem</p>
          </div>
        </div>
        <span class="badge badge-secondary">1°</span>
      </div>
    </div>
    <hr />
    <!-- card2 -->
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <img src="#" />
          <div>
            <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
            <p class="mb-0">lorem</p>
          </div>
        </div>
        <span class="badge badge-secondary">1°</span>
      </div>
    </div>
    <hr />
    <!-- card3 -->
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <img src="#" />
          <div>
            <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
            <p class="mb-0">lorem</p>
          </div>
        </div>
        <span class="badge badge-secondary">1°</span>
      </div>
    </div>
    <hr />
    <!-- card4 -->
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <img src="#" />
          <div>
            <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
            <p class="mb-0">lorem</p>
          </div>
        </div>
        <span class="badge badge-secondary">1°</span>
      </div>
    </div>
    <hr />
    <!-- card5 -->
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <img src="#" />
          <div>
            <a href="#" class="text-dark font-weight-bold">lorem ipsum</a>
            <p class="mb-0">lorem</p>
          </div>
        </div>
        <span class="badge badge-secondary">1°</span>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary">
          Visualizza altro
          <i class="bi bi-chevron-down ms-2"></i>
        </button>
      </div>
    </div>
  </div>
</div>
