<div class="container border rounded mt-3 p-3">
  <h5>Consigliato per te</h5>
  <p id="undertext">solo per te</p>

  <div
    class="progress"
    role="progressbar"
    aria-label="Example with label"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
    style="height: 5px"
  >
    <div
      class="progress-bar"
      style="width: 25%; height: 5px; background-color: rgb(18, 138, 18)"
    ></div>
  </div>
  <p>
    completa due passaggi per raggiungere il livello <span>intermedio</span>
  </p>
  <div class="container-fluid">
    <section class="slide">
      <div class="container">
        <button  class="scroll-left btn-dark" (click)="scrollLeft()" >&lt;</button>
        <button  class="scroll-right btn-dark" (click)="scrollRight()">&gt;</button>
        <div
          id="slide"
          class="slide row flex-nowrap overflow-x-scroll gap-3"
          style="scroll-behavior: smooth"
        >
          <div *ngFor="let card of cards" class="card col-11 col-md-7 col-xl-5" >
            <div class="card-body">
              <div class="d-flex align-items-center">
                <img [src]="card.imgLink" alt="" />
                <h5 class="card-title ms-2">Special title treatment</h5>
              </div>
              <p class="card-text">
                With supporting text below as a natural lead-in to additional
                content.
              </p>
              <a href="#" class="btn btn-outline-success rounded-pill">{{
                card.buttonText
              }}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--

       <div class="card" style="width: 20rem">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

     -->
  </div>
</div>
